// COLORS:

$primary: #3767AD;
$primary-dark: #003179;

$black: #000;
$white: #FFF;

// water colors
$blue1: #0066FF;
$blue2: #0056D8;
$blue3: #00D1FF;
$blue4: #3EA2FF;
$blue5: #0047FF;
$blue6: #00C2FF;
$blue7: #008EFF;
$blue8: #0085FF;

// FONTS:

$accent: 'Lemonada', cursive;
$text: 'Montserrat', sans-serif;