@import "~normalize.css";

@import "_variables";

@import "modules/water-glass.scss";
@import "modules/app.scss";

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-family: $text;
  font-size: 62.5%;
}

body {
  align-items: center;
  background: $primary;
  box-sizing: border-box;
  color: $white;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}
